# ignore pushing the virtual environment
**/.venv/

# Python
**/__pycache__/


# ignore pushing the env variables
**/.env
.env

*.sqlite
sandbox*

# codebase review files
feedback.md
review_prompt.md
quality_feedback.md

# example config file
**/config_examples.py