# ignore pushing the virtual environment
**/.venv/

# ignore pushing the folders with data
**/datasets/


# Python
**/__pycache__/


# ignore pushing the env variables
**/.env
.env

*.sqlite
sandbox*

# codebase review files
feedback.md
review_prompt.md

# example config file
**/config_examples.py